{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if object_list %}
    <ul>

        {% for book in book_list  %}
              <li>
{#               <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})#}
               <a href="{% url 'catalog:book-detail' pk=book.id %}">{{ book.title }}</a> ({{book.author}})
              </li>
            {% if user.is_authenticated and perms.catalog.cahange_book %}
                <a class="" href="{% url 'catalog:books_update' book.pk %}">
                    <img src="https://img.icons8.com/material-outlined/24/000000/approve-and-update.png"/>
                </a>
            {% endif %}
            {% if user.is_authenticated and perms.catalog.delete_book %}
                <a href="{% url 'catalog:books_delete' book.pk %}">
                    <img src="https://img.icons8.com/material-sharp/24/000000/filled-trash.png"/>
                </a>
            {% endif %}

          {% endfor %}
    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %} 
{% endblock %}